---
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
---

<Layout title="Sebastián Lagos - UX/UI Developer Front-end">
  <main class="container mx-auto justify-center flex items-center">
    <section class="flex justify-center">
      <Card />
      <About />
    </section>
  </main>
  <Footer />
</Layout>

<style>
  main {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
  }
</style>
