---
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sebastián Lagos - UX/UI Developer Front-end">
  <main>
    <section class="container">
      <Card />
    </section>
    <Footer />
  </main>
</Layout>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
</style>
