---
---

<footer>
  <p>
    Creado <i class="fa fa-heart"></i> por
    <a target="_blank" href="https://www.sebastianlagos.cl">Sebastian Lagos</a>
    Visita mi
    <a target="_blank" href="https://www.behance.net/lagosdesign">Behance</a>
  </p>
</footer>

<style>
  footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
  }

  footer p {
    margin: 10px 0;
  }

  footer i {
    color: red;
  }

  footer a {
    color: #3c97bf;
    text-decoration: none;
  }
</style>
